<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content = "ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %} {% endblock %}
</head>
<body>
    <div class = "topnav">
        <a class="active" href="/">Home</a>
        <a href="/jokes">Dad Jokes</a>
        <a href="/films">Studio Ghibli Films</a>
    </div>
    {% block body %} {% endblock %}
</body>
</html>